* {
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    height: 100vh;
    grid-template-areas:    "header header  header"
                            "main   main    aside"
                            "main   main    aside"
                            "footer footer  footer";
}
#header{
    grid-area: header;
    border: 2px solid black;
    background-color: red;
}
#main{
    grid-area: main;
    border: 2px solid black;
    background-color: rgb(255, 191, 0);
}
#aside{
    grid-area: aside;
    border: 2px solid black;
    background-color: rgb(170, 0, 255);
}
#footer{
    grid-area: footer;
    border: 2px solid black;
    background-color: rgb(3, 200, 255);
}